# Libraries

In [ ]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for Gettingting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup

# Web Scrapping

In [ ]:
# Getting data

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# Getting web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [ ]:
# find the table
# our tarGetting table is the last table in the page

# Getting the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
#print(thead)

In [ ]:
# Getting all the rows in table head, it usually has only one row, which has the column names
head = thead.find_all('tr')
#print(head)

In [ ]:
# finding the table tbody(contains the contents)
tbody = soup.find_all('tbody')[-1]
#print(tbody)
# finding all the rows in table body- each row is each state's entry
body = tbody.find_all('tr')
#print(body)

In [ ]:
# Getting the table contents in list

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)

for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
#print(head_rows+body_rows)

In [ ]:
# saving contents in a dataframe
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.replace('0#','0',inplace=True)
#print(df_bs.head(36))

# Data Cleaning

In [ ]:
# date-time information

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'])
df_bs.drop('Active Cases*',axis=1,inplace=True)
#df_bs

In [119]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')
#df_bs

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date
0,Andaman and Nicobar Islands,33,0,33,2020-05-31
1,Andhra Pradesh,2289,60,3569,2020-05-31
2,Arunachal Pradesh,1,0,4,2020-05-31
3,Assam,163,4,1185,2020-05-31
4,Bihar,1618,20,3636,2020-05-31
5,Chandigarh,189,4,289,2020-05-31
6,Chhattisgarh,102,1,447,2020-05-31
7,Dadar Nagar Haveli,0,0,2,2020-05-31
8,Delhi,8075,416,18549,2020-05-31
9,Goa,41,0,70,2020-05-31
10,Gujarat,9230,1007,16343,2020-05-31
11,Haryana,971,20,1923,2020-05-31
12,Himachal Pradesh,111,5,313,2020-05-31
13,Jammu and Kashmir,908,28,2341,2020-05-31
14,Jharkhand,256,5,563,2020-05-31
15,Karnataka,997,48,2922,2020-05-31
16,Kerala,575,9,1208,2020-05-31
17,Ladakh,43,0,74,2020-05-31
18,Madhya Pradesh,4444,343,7891,2020-05-31
19,Maharashtra,28081,2197,65168,2020-05-31
20,Manipur,8,0,62,2020-05-31
21,Meghalaya,12,1,27,2020-05-31
22,Mizoram,1,0,1,2020-05-31
23,Nagaland,0,0,36,2020-05-31
24,Odisha,1050,7,1819,2020-05-31
25,Puducherry,14,0,51,2020-05-31
26,Punjab,1967,44,2233,2020-05-31
27,Rajasthan,5739,193,8617,2020-05-31
28,Sikkim,0,0,1,2020-05-31
29,Tamil Nadu,12000,160,21184,2020-05-31
30,Telengana,1412,77,2499,2020-05-31
31,Tripura,172,0,268,2020-05-31
32,Uttarakhand,102,5,749,2020-05-31
33,Uttar Pradesh,4410,201,7445,2020-05-31
34,West Bengal,1970,309,5130,2020-05-31

In [120]:
# latitude and longitude information

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

#df_bs.head(2)

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,0,33,2020-05-31,11.7401,92.6586
1,Andhra Pradesh,2289,60,3569,2020-05-31,15.9129,79.7400

In [121]:
# number of missing values 
#df_bs.isna().sum()

Name of State / UT            0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      1
Longitude                     1
dtype: int64

In [122]:
# number of unique values 
#df_bs.nunique()

Name of State / UT            35
Cured/Discharged/Migrated*    31
Deaths**                      20
Total Confirmed cases*        34
Date                           1
Latitude                      34
Longitude                     30
dtype: int64

# Saving data

In [123]:
# saving data

file_name = now.strftime("%Y-%m-%d")+'.csv'
df_bs.to_csv('C:\\Users\\007\\Documents\\ml\\mp\\perdaydata\\' + file_name, index=False)

#df_bs

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,0,33,2020-05-31,11.7401,92.6586
1,Andhra Pradesh,2289,60,3569,2020-05-31,15.9129,79.7400
2,Arunachal Pradesh,1,0,4,2020-05-31,28.2180,94.7278
3,Assam,163,4,1185,2020-05-31,26.2006,92.9376
4,Bihar,1618,20,3636,2020-05-31,25.0961,85.3131
5,Chandigarh,189,4,289,2020-05-31,30.7333,76.7794
6,Chhattisgarh,102,1,447,2020-05-31,21.2787,81.8661
7,Dadar Nagar Haveli,0,0,2,2020-05-31,20.1809,73.0169
8,Delhi,8075,416,18549,2020-05-31,28.7041,77.1025
9,Goa,41,0,70,2020-05-31,15.2993,74.1240
10,Gujarat,9230,1007,16343,2020-05-31,22.2587,71.1924
11,Haryana,971,20,1923,2020-05-31,29.0588,76.0856
12,Himachal Pradesh,111,5,313,2020-05-31,31.1048,77.1734
13,Jammu and Kashmir,908,28,2341,2020-05-31,33.7782,76.5762
14,Jharkhand,256,5,563,2020-05-31,23.6102,85.2799
15,Karnataka,997,48,2922,2020-05-31,15.3173,75.7139
16,Kerala,575,9,1208,2020-05-31,10.8505,76.2711
17,Ladakh,43,0,74,2020-05-31,34.2996,78.2932
18,Madhya Pradesh,4444,343,7891,2020-05-31,22.9734,78.6569
19,Maharashtra,28081,2197,65168,2020-05-31,19.7515,75.7139
20,Manipur,8,0,62,2020-05-31,24.6637,93.9063
21,Meghalaya,12,1,27,2020-05-31,25.4670,91.3662
22,Mizoram,1,0,1,2020-05-31,23.1645,92.9376
23,Nagaland,0,0,36,2020-05-31,26.1584,94.5624
24,Odisha,1050,7,1819,2020-05-31,20.9517,85.0985
25,Puducherry,14,0,51,2020-05-31,11.9416,79.8083
26,Punjab,1967,44,2233,2020-05-31,31.1471,75.3412
27,Rajasthan,5739,193,8617,2020-05-31,27.0238,74.2179
28,Sikkim,0,0,1,2020-05-31,NaN,NaN
29,Tamil Nadu,12000,160,21184,2020-05-31,11.1271,78.6569
30,Telengana,1412,77,2499,2020-05-31,18.1124,79.0193
31,Tripura,172,0,268,2020-05-31,23.9408,91.9882
32,Uttarakhand,102,5,749,2020-05-31,30.0668,79.0193
33,Uttar Pradesh,4410,201,7445,2020-05-31,26.8467,80.9462
34,West Bengal,1970,309,5130,2020-05-31,22.9868,87.8550

# Combining data

In [124]:
# list of all files available
#! dir

 Volume in drive C is SSD
 Volume Serial Number is AECD-2471

 Directory of C:\Users\007\Documents\ml\mp

31-05-2020  23:54    <DIR>          .
31-05-2020  23:54    <DIR>          ..
28-05-2020  12:45    <DIR>          .ipynb_checkpoints
28-05-2020  12:21           102,496 chatbot.ipynb
27-05-2020  23:01           418,297 chatbotThroughRasa (1).docx
28-05-2020  10:17            15,767 Chatbot_dataset.csv
31-05-2020  23:24           121,372 compl.csv
31-05-2020  23:51           137,643 complete.csv
17-05-2020  21:36             3,366 complete1.csv
26-05-2020  11:56           526,346 COVID-Dialogue-Dataset-English.txt
27-05-2020  20:58            38,439 dialog_talk_agent.xlsx
29-05-2020  17:16         2,329,454 help.gif
27-05-2020  13:50            49,804 help.png
07-02-2020  14:23               966 Indian_States.dbf
07-02-2020  14:23               143 Indian_States.prj
07-02-2020  14:23         5,759,420 Indian_States.shp
07-02-2020  14:23               388 Indian_States.shx
29-05-2020  18:04           253,913 main.ipynb
31-05-2020  20:01         1,113,096 Major project.pptx
31-05-2020  21:31         1,350,791 Major project1.pptx
29-05-2020  15:40           106,698 nlp_chatbot.ipynb
31-05-2020  23:44    <DIR>          perdaydata
31-05-2020  23:52           353,099 vizualization.ipynb
31-05-2020  23:54            96,574 web_scraping.ipynb
28-05-2020  11:21            89,445 web_scraping2.ipynb
01-04-2020  14:54            18,086 WHO_FAQ.xlsx
              22 File(s)     12,885,603 bytes
               4 Dir(s)  25,871,114,240 bytes free

In [125]:
# location of the file
loc = "C:\\Users\\007\\Documents\\ml\\mp\\perdaydata\\"

# list of all files
files = glob.glob(loc+'*.csv')
   
# all day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged/Migrated',
                                      'Cured/Discharged/Migrated*':'Cured/Discharged/Migrated',
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases',
                                      'Total Confirmed cases*':'Total Confirmed cases',
                                      'Total Confirmed cases* ': 'Total Confirmed cases'})
    
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    df_temp = df_temp.rename(columns={'Deaths ( more than 70% cases due to comorbidities )':'Death', 
                                      'Deaths**':'Death'})
    # append to the df_s
    dfs.append(df_temp)
    
# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True,sort=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
#dfs[1:4]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

[   Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           1  2020-01-31             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      1  ,
    Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           2  2020-02-01             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      2  ,
    Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           3  2020-02-02             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      3  ]

In [126]:
# columns
#complete_data.columns

Index(['Cured/Discharged/Migrated', 'Date', 'Death', 'Latitude', 'Longitude',
       'Name of State / UT', 'Total Confirmed cases', 'Unnamed: 0'],
      dtype='object')

## Preprocessing

In [127]:
#complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2327 entries, 0 to 2326
Data columns (total 8 columns):
Cured/Discharged/Migrated    2327 non-null int64
Date                         2327 non-null object
Death                        2327 non-null int64
Latitude                     2321 non-null float64
Longitude                    2321 non-null float64
Name of State / UT           2327 non-null object
Total Confirmed cases        2327 non-null int64
Unnamed: 0                   2019 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 145.6+ KB

In [128]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Total Confirmed cases','Cured/Discharged/Migrated', 'Death']
#complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [129]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
#complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [130]:
# select only rows with more than 1 case
#complete_data = complete_data[complete_data['Total Confirmed cases']>0]

## Final dataframe

In [131]:
# random rows
#complete_data.head(3)

,Cured/Discharged/Migrated,Date,Death,Latitude,Longitude,Name of State / UT,Total Confirmed cases,Unnamed: 0
0,0,2020-01-30,0,10.8505,76.2711,Kerala,1,0.0
1,0,2020-01-31,0,10.8505,76.2711,Kerala,1,1.0
2,0,2020-02-01,0,10.8505,76.2711,Kerala,2,2.0

In [132]:
# complete data info
from datetime import date
complete_data['Date']=pd.to_datetime(complete_data['Date']).apply(lambda x:x.date())
#complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2327 entries, 0 to 2326
Data columns (total 8 columns):
Cured/Discharged/Migrated    2327 non-null int32
Date                         2327 non-null object
Death                        2327 non-null int32
Latitude                     2321 non-null float64
Longitude                    2321 non-null float64
Name of State / UT           2327 non-null object
Total Confirmed cases        2327 non-null int32
Unnamed: 0                   2019 non-null float64
dtypes: float64(3), int32(3), object(2)
memory usage: 136.3+ KB

## Save as .csv file

In [133]:
#c=pd.read_csv('complete.csv').drop(['Unnamed: 0'],axis=1)
#c1=c.groupby('Date')
#for grp in c1:
#    c[c['Date']==grp[0]].to_csv(f'{grp[0]}.csv')

In [134]:
# save data in a csv file
complete_data.to_csv('complete.csv')

# Sending msg to slack

In [135]:
#df_bs.columns

Index(['Name of State / UT', 'Cured/Discharged/Migrated*', 'Deaths**',
       'Total Confirmed cases*', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

In [136]:
from tabulate import tabulate
df_bs = df_bs.applymap(lambda x: str(x).ljust(11))
df_bs.columns = df_bs.columns.map(lambda x: str(x).ljust(11))
a=tabulate(df_bs[['Name of State / UT', 'Total Confirmed cases*','Cured/Discharged/Migrated*', 'Deaths**   ']],headers=['S.No','State/UT', 'Confirmed','Cured/Discharged/Migrated','Deaths'], tablefmt="sql")

In [137]:
from tabulate import tabulate
import requests,json
HEADERS = {
    'Content-type': 'table'
}
webhook_url='https://hooks.slack.com/services/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'
payload = { 'text': f'Checkout the latest updates:\n```{a}```' }
#requests.post(webhook_url, headers=HEADERS,data=json.dumps(payload))