# Libraries

In [1]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for Gettingting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup

# Web Scrapping

In [2]:
# Getting data

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# Getting web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# our tarGetting table is the last table in the page

# Getting the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
print(thead)

<thead>
<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Active Cases*</strong></th>
<th><strong>Cured/Discharged/Migrated*</strong></th>
<th><strong>Deaths**</strong></th>
<th><strong>Total Confirmed cases*</strong></th>
</tr>
</thead>

In [4]:
# Getting all the rows in table head, it usually has only one row, which has the column names
head = thead.find_all('tr')
print(head)

[<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Active Cases*</strong></th>
<th><strong>Cured/Discharged/Migrated*</strong></th>
<th><strong>Deaths**</strong></th>
<th><strong>Total Confirmed cases*</strong></th>
</tr>]

In [5]:
# finding the table tbody(contains the contents)
tbody = soup.find_all('tbody')[-1]
print(tbody)
# finding all the rows in table body- each row is each state's entry
body = tbody.find_all('tr')
print(body)

<tbody>
<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>70</td>
<td>93</td>
<td>0</td>
<td>163</td>
</tr>
<tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>12533</td>
<td>14393</td>
<td>309</td>
<td>27235</td>
</tr>
<tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>214</td>
<td>125</td>
<td>2</td>
<td>341</td>
</tr>
<tr>
<td>4</td>
<td>Assam</td>
<td>6351</td>
<td>9150</td>
<td>35</td>
<td>15536</td>
</tr>
<tr>
<td>5</td>
<td>Bihar</td>
<td>4557</td>
<td>10685</td>
<td>131</td>
<td>15373</td>
</tr>
<tr>
<td>6</td>
<td>Chandigarh</td>
<td>135</td>
<td>413</td>
<td>7</td>
<td>555</td>
</tr>
<tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>810</td>
<td>3070</td>
<td>17</td>
<td>3897</td>
</tr>
<tr>
<td>8</td>
<td>Dadra and Nagar Haveli and Daman and Diu</td>
<td>245</td>
<td>226</td>
<td>0</td>
<td>471</td>
</tr>
<tr>
<td>9</td>
<td>Delhi</td>
<td>19895</td>
<td>87692</td>
<td>3334</td>
<td>110921</td>
</tr>
<tr>
<td>10</td>
<td>Goa</td>
<td>928</td>
<td>1428</td>
<td>12</td>
<td>2368</td>
</tr>
<tr>
<td>11</td>
<td>Gujarat</td>
<td>10260</td>
<td>28649</td>
<td>2032</td>
<td>40941</td>
</tr>
<tr>
<td>12</td>
<td>Haryana</td>
<td>4891</td>
<td>15394</td>
<td>297</td>
<td>20582</td>
</tr>
<tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>263</td>
<td>908</td>
<td>11</td>
<td>1182</td>
</tr>
<tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>4092</td>
<td>5895</td>
<td>169</td>
<td>10156</td>
</tr>
<tr>
<td>15</td>
<td>Jharkhand</td>
<td>1347</td>
<td>2243</td>
<td>23</td>
<td>3613</td>
</tr>
<tr>
<td>16</td>
<td>Karnataka</td>
<td>20887</td>
<td>14716</td>
<td>613</td>
<td>36216</td>
</tr>
<tr>
<td>17</td>
<td>Kerala</td>
<td>3446</td>
<td>3963</td>
<td>29</td>
<td>7438</td>
</tr>
<tr>
<td>18</td>
<td>Ladakh</td>
<td>148</td>
<td>928</td>
<td>1</td>
<td>1077</td>
</tr>
<tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>3878</td>
<td>12679</td>
<td>644</td>
<td>17201</td>
</tr>
<tr>
<td>20</td>
<td>Maharashtra</td>
<td>99499</td>
<td>136985</td>
<td>10116</td>
<td>246600</td>
</tr>
<tr>
<td>21</td>
<td>Manipur</td>
<td>750</td>
<td>843</td>
<td>0</td>
<td>1593</td>
</tr>
<tr>
<td>22</td>
<td>Meghalaya</td>
<td>139</td>
<td>66</td>
<td>2</td>
<td>207</td>
</tr>
<tr>
<td>23</td>
<td>Mizoram</td>
<td>77</td>
<td>150</td>
<td>0</td>
<td>227</td>
</tr>
<tr>
<td>24</td>
<td>Nagaland</td>
<td>435</td>
<td>313</td>
<td>0</td>
<td>748</td>
</tr>
<tr>
<td>25</td>
<td>Odisha</td>
<td>4105</td>
<td>8360</td>
<td>61</td>
<td>12526</td>
</tr>
<tr>
<td>26</td>
<td>Puducherry</td>
<td>629</td>
<td>690</td>
<td>18</td>
<td>1337</td>
</tr>
<tr>
<td>27</td>
<td>Punjab</td>
<td>2352</td>
<td>5040</td>
<td>195</td>
<td>7587</td>
</tr>
<tr>
<td>28</td>
<td>Rajasthan</td>
<td>5376</td>
<td>17869</td>
<td>503</td>
<td>23748</td>
</tr>
<tr>
<td>29</td>
<td>Sikkim</td>
<td>71</td>
<td>80</td>
<td>0</td>
<td>151</td>
</tr>
<tr>
<td>30</td>
<td>Tamil Nadu</td>
<td>46413</td>
<td>85915</td>
<td>1898</td>
<td>134226</td>
</tr>
<tr>
<td>31</td>
<td>Telangana</td>
<td>12135</td>
<td>20919</td>
<td>348</td>
<td>33402</td>
</tr>
<tr>
<td>32</td>
<td>Tripura</td>
<td>572</td>
<td>1375</td>
<td>2</td>
<td>1949</td>
</tr>
<tr>
<td>33</td>
<td>Uttarakhand</td>
<td>653</td>
<td>2718</td>
<td>46</td>
<td>3417</td>
</tr>
<tr>
<td>34</td>
<td>Uttar Pradesh</td>
<td>11490</td>
<td>22689</td>
<td>913</td>
<td>35092</td>
</tr>
<tr>
<td>35</td>
<td>West Bengal</td>
<td>9588</td>
<td>17959</td>
<td>906</td>
<td>28453</td>
</tr>
<tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>3024</td>
<td></td>
<td></td>
<td>3024</td>
</tr>
<tr>
<td></td>
<td colspan="1"><strong><span>Total#</span></strong></td>
<td align="right" style="text-align:right;"><strong>292258</strong></td>
<td>
<strong>534621</strong>
</td>
<td>
<strong>22674</strong>
</td>
<td>
<strong>849553</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>
</tbody>
[<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>70</td>
<td>93</td>
<td>0</td>
<td>163</td>
</tr>, <tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>12533</td>
<td>14393</td>
<td>309</td>
<td>27235</td>
</tr>, <tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>214</td>
<td>125</td>
<td>2</td>
<td>341</td>
</tr>, <tr>
<td>4</td>
<td>Assam</td>
<td>6351</td>
<td>9150</td>
<td>35</td>
<td>15536</td>
</tr>, <tr>
<td>5</td>
<td>Bihar</td>
<td>4557</td>
<td>10685</td>
<td>131</td>
<td>15373</td>
</tr>, <tr>
<td>6</td>
<td>Chandigarh</td>
<td>135</td>
<td>413</td>
<td>7</td>
<td>555</td>
</tr>, <tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>810</td>
<td>3070</td>
<td>17</td>
<td>3897</td>
</tr>, <tr>
<td>8</td>
<td>Dadra and Nagar Haveli and Daman and Diu</td>
<td>245</td>
<td>226</td>
<td>0</td>
<td>471</td>
</tr>, <tr>
<td>9</td>
<td>Delhi</td>
<td>19895</td>
<td>87692</td>
<td>3334</td>
<td>110921</td>
</tr>, <tr>
<td>10</td>
<td>Goa</td>
<td>928</td>
<td>1428</td>
<td>12</td>
<td>2368</td>
</tr>, <tr>
<td>11</td>
<td>Gujarat</td>
<td>10260</td>
<td>28649</td>
<td>2032</td>
<td>40941</td>
</tr>, <tr>
<td>12</td>
<td>Haryana</td>
<td>4891</td>
<td>15394</td>
<td>297</td>
<td>20582</td>
</tr>, <tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>263</td>
<td>908</td>
<td>11</td>
<td>1182</td>
</tr>, <tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>4092</td>
<td>5895</td>
<td>169</td>
<td>10156</td>
</tr>, <tr>
<td>15</td>
<td>Jharkhand</td>
<td>1347</td>
<td>2243</td>
<td>23</td>
<td>3613</td>
</tr>, <tr>
<td>16</td>
<td>Karnataka</td>
<td>20887</td>
<td>14716</td>
<td>613</td>
<td>36216</td>
</tr>, <tr>
<td>17</td>
<td>Kerala</td>
<td>3446</td>
<td>3963</td>
<td>29</td>
<td>7438</td>
</tr>, <tr>
<td>18</td>
<td>Ladakh</td>
<td>148</td>
<td>928</td>
<td>1</td>
<td>1077</td>
</tr>, <tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>3878</td>
<td>12679</td>
<td>644</td>
<td>17201</td>
</tr>, <tr>
<td>20</td>
<td>Maharashtra</td>
<td>99499</td>
<td>136985</td>
<td>10116</td>
<td>246600</td>
</tr>, <tr>
<td>21</td>
<td>Manipur</td>
<td>750</td>
<td>843</td>
<td>0</td>
<td>1593</td>
</tr>, <tr>
<td>22</td>
<td>Meghalaya</td>
<td>139</td>
<td>66</td>
<td>2</td>
<td>207</td>
</tr>, <tr>
<td>23</td>
<td>Mizoram</td>
<td>77</td>
<td>150</td>
<td>0</td>
<td>227</td>
</tr>, <tr>
<td>24</td>
<td>Nagaland</td>
<td>435</td>
<td>313</td>
<td>0</td>
<td>748</td>
</tr>, <tr>
<td>25</td>
<td>Odisha</td>
<td>4105</td>
<td>8360</td>
<td>61</td>
<td>12526</td>
</tr>, <tr>
<td>26</td>
<td>Puducherry</td>
<td>629</td>
<td>690</td>
<td>18</td>
<td>1337</td>
</tr>, <tr>
<td>27</td>
<td>Punjab</td>
<td>2352</td>
<td>5040</td>
<td>195</td>
<td>7587</td>
</tr>, <tr>
<td>28</td>
<td>Rajasthan</td>
<td>5376</td>
<td>17869</td>
<td>503</td>
<td>23748</td>
</tr>, <tr>
<td>29</td>
<td>Sikkim</td>
<td>71</td>
<td>80</td>
<td>0</td>
<td>151</td>
</tr>, <tr>
<td>30</td>
<td>Tamil Nadu</td>
<td>46413</td>
<td>85915</td>
<td>1898</td>
<td>134226</td>
</tr>, <tr>
<td>31</td>
<td>Telangana</td>
<td>12135</td>
<td>20919</td>
<td>348</td>
<td>33402</td>
</tr>, <tr>
<td>32</td>
<td>Tripura</td>
<td>572</td>
<td>1375</td>
<td>2</td>
<td>1949</td>
</tr>, <tr>
<td>33</td>
<td>Uttarakhand</td>
<td>653</td>
<td>2718</td>
<td>46</td>
<td>3417</td>
</tr>, <tr>
<td>34</td>
<td>Uttar Pradesh</td>
<td>11490</td>
<td>22689</td>
<td>913</td>
<td>35092</td>
</tr>, <tr>
<td>35</td>
<td>West Bengal</td>
<td>9588</td>
<td>17959</td>
<td>906</td>
<td>28453</td>
</tr>, <tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>3024</td>
<td></td>
<td></td>
<td>3024</td>
</tr>, <tr>
<td></td>
<td colspan="1"><strong><span>Total#</span></strong></td>
<td align="right" style="text-align:right;"><strong>292258</strong></td>
<td>
<strong>534621</strong>
</td>
<td>
<strong>22674</strong>
</td>
<td>
<strong>849553</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>]

In [6]:
# Getting the table contents in list

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)

for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
print(head_rows+body_rows)

[['S. No.', 'Name of State / UT', 'Active Cases*', 'Cured/Discharged/Migrated*', 'Deaths**', 'Total Confirmed cases*'], ['1', 'Andaman and Nicobar Islands', '70', '93', '0', '163'], ['2', 'Andhra Pradesh', '12533', '14393', '309', '27235'], ['3', 'Arunachal Pradesh', '214', '125', '2', '341'], ['4', 'Assam', '6351', '9150', '35', '15536'], ['5', 'Bihar', '4557', '10685', '131', '15373'], ['6', 'Chandigarh', '135', '413', '7', '555'], ['7', 'Chhattisgarh', '810', '3070', '17', '3897'], ['8', 'Dadra and Nagar Haveli and Daman and Diu', '245', '226', '0', '471'], ['9', 'Delhi', '19895', '87692', '3334', '110921'], ['10', 'Goa', '928', '1428', '12', '2368'], ['11', 'Gujarat', '10260', '28649', '2032', '40941'], ['12', 'Haryana', '4891', '15394', '297', '20582'], ['13', 'Himachal Pradesh', '263', '908', '11', '1182'], ['14', 'Jammu and Kashmir', '4092', '5895', '169', '10156'], ['15', 'Jharkhand', '1347', '2243', '23', '3613'], ['16', 'Karnataka', '20887', '14716', '613', '36216'], ['17', 'Kerala', '3446', '3963', '29', '7438'], ['18', 'Ladakh', '148', '928', '1', '1077'], ['19', 'Madhya Pradesh', '3878', '12679', '644', '17201'], ['20', 'Maharashtra', '99499', '136985', '10116', '246600'], ['21', 'Manipur', '750', '843', '0', '1593'], ['22', 'Meghalaya', '139', '66', '2', '207'], ['23', 'Mizoram', '77', '150', '0', '227'], ['24', 'Nagaland', '435', '313', '0', '748'], ['25', 'Odisha', '4105', '8360', '61', '12526'], ['26', 'Puducherry', '629', '690', '18', '1337'], ['27', 'Punjab', '2352', '5040', '195', '7587'], ['28', 'Rajasthan', '5376', '17869', '503', '23748'], ['29', 'Sikkim', '71', '80', '0', '151'], ['30', 'Tamil Nadu', '46413', '85915', '1898', '134226'], ['31', 'Telangana', '12135', '20919', '348', '33402'], ['32', 'Tripura', '572', '1375', '2', '1949'], ['33', 'Uttarakhand', '653', '2718', '46', '3417'], ['34', 'Uttar Pradesh', '11490', '22689', '913', '35092'], ['35', 'West Bengal', '9588', '17959', '906', '28453'], ['', 'Cases being reassigned to states', '3024', '', '', '3024'], ['', 'Total#', '292258', '\n534621\n', '\n22674\n', '\n849553\n'], ['*(Including foreign Nationals)\n\n'], ['**( more than 70% cases due to comorbidities )\n'], ['#States wise distribution is subject to further verification and reconciliation\n'], ['#Our figures are being reconciled with ICMR']]

In [7]:
# saving contents in a dataframe
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.replace('0#','0',inplace=True)
print(df_bs.head(36))

                          Name of State / UT Active Cases*  \
0                Andaman and Nicobar Islands            70
1                             Andhra Pradesh         12533
2                          Arunachal Pradesh           214
3                                      Assam          6351
4                                      Bihar          4557
5                                 Chandigarh           135
6                               Chhattisgarh           810
7   Dadra and Nagar Haveli and Daman and Diu           245
8                                      Delhi         19895
9                                        Goa           928
10                                   Gujarat         10260
11                                   Haryana          4891
12                          Himachal Pradesh           263
13                         Jammu and Kashmir          4092
14                                 Jharkhand          1347
15                                 Karnataka         20887
16                                    Kerala          3446
17                                    Ladakh           148
18                            Madhya Pradesh          3878
19                               Maharashtra         99499
20                                   Manipur           750
21                                 Meghalaya           139
22                                   Mizoram            77
23                                  Nagaland           435
24                                    Odisha          4105
25                                Puducherry           629
26                                    Punjab          2352
27                                 Rajasthan          5376
28                                    Sikkim            71
29                                Tamil Nadu         46413
30                                 Telangana         12135
31                                   Tripura           572
32                               Uttarakhand           653
33                             Uttar Pradesh         11490
34                               West Bengal          9588

   Cured/Discharged/Migrated* Deaths** Total Confirmed cases*
0                          93        0                    163
1                       14393      309                  27235
2                         125        2                    341
3                        9150       35                  15536
4                       10685      131                  15373
5                         413        7                    555
6                        3070       17                   3897
7                         226        0                    471
8                       87692     3334                 110921
9                        1428       12                   2368
10                      28649     2032                  40941
11                      15394      297                  20582
12                        908       11                   1182
13                       5895      169                  10156
14                       2243       23                   3613
15                      14716      613                  36216
16                       3963       29                   7438
17                        928        1                   1077
18                      12679      644                  17201
19                     136985    10116                 246600
20                        843        0                   1593
21                         66        2                    207
22                        150        0                    227
23                        313        0                    748
24                       8360       61                  12526
25                        690       18                   1337
26                       5040      195                   7587
27                      17869      503                  23748
28                         80        0                    151
29                      85915     1898                 134226
30                      20919      348                  33402
31                       1375        2                   1949
32                       2718       46                   3417
33                      22689      913                  35092
34                      17959      906                  28453

# Data Cleaning

In [8]:
# date-time information

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'])
df_bs.drop('Active Cases*',axis=1,inplace=True)
df_bs

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date
0,Andaman and Nicobar Islands,93,0,163,2020-07-12
1,Andhra Pradesh,14393,309,27235,2020-07-12
2,Arunachal Pradesh,125,2,341,2020-07-12
3,Assam,9150,35,15536,2020-07-12
4,Bihar,10685,131,15373,2020-07-12
5,Chandigarh,413,7,555,2020-07-12
6,Chhattisgarh,3070,17,3897,2020-07-12
7,Dadra and Nagar Haveli and Daman and Diu,226,0,471,2020-07-12
8,Delhi,87692,3334,110921,2020-07-12
9,Goa,1428,12,2368,2020-07-12
10,Gujarat,28649,2032,40941,2020-07-12
11,Haryana,15394,297,20582,2020-07-12
12,Himachal Pradesh,908,11,1182,2020-07-12
13,Jammu and Kashmir,5895,169,10156,2020-07-12
14,Jharkhand,2243,23,3613,2020-07-12
15,Karnataka,14716,613,36216,2020-07-12
16,Kerala,3963,29,7438,2020-07-12
17,Ladakh,928,1,1077,2020-07-12
18,Madhya Pradesh,12679,644,17201,2020-07-12
19,Maharashtra,136985,10116,246600,2020-07-12
20,Manipur,843,0,1593,2020-07-12
21,Meghalaya,66,2,207,2020-07-12
22,Mizoram,150,0,227,2020-07-12
23,Nagaland,313,0,748,2020-07-12
24,Odisha,8360,61,12526,2020-07-12
25,Puducherry,690,18,1337,2020-07-12
26,Punjab,5040,195,7587,2020-07-12
27,Rajasthan,17869,503,23748,2020-07-12
28,Sikkim,80,0,151,2020-07-12
29,Tamil Nadu,85915,1898,134226,2020-07-12
30,Telangana,20919,348,33402,2020-07-12
31,Tripura,1375,2,1949,2020-07-12
32,Uttarakhand,2718,46,3417,2020-07-12
33,Uttar Pradesh,22689,913,35092,2020-07-12
34,West Bengal,17959,906,28453,2020-07-12

In [9]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')
df_bs

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date
0,Andaman and Nicobar Islands,93,0,163,2020-07-12
1,Andhra Pradesh,14393,309,27235,2020-07-12
2,Arunachal Pradesh,125,2,341,2020-07-12
3,Assam,9150,35,15536,2020-07-12
4,Bihar,10685,131,15373,2020-07-12
5,Chandigarh,413,7,555,2020-07-12
6,Chhattisgarh,3070,17,3897,2020-07-12
7,Dadra and Nagar Haveli and Daman and Diu,226,0,471,2020-07-12
8,Delhi,87692,3334,110921,2020-07-12
9,Goa,1428,12,2368,2020-07-12
10,Gujarat,28649,2032,40941,2020-07-12
11,Haryana,15394,297,20582,2020-07-12
12,Himachal Pradesh,908,11,1182,2020-07-12
13,Jammu and Kashmir,5895,169,10156,2020-07-12
14,Jharkhand,2243,23,3613,2020-07-12
15,Karnataka,14716,613,36216,2020-07-12
16,Kerala,3963,29,7438,2020-07-12
17,Ladakh,928,1,1077,2020-07-12
18,Madhya Pradesh,12679,644,17201,2020-07-12
19,Maharashtra,136985,10116,246600,2020-07-12
20,Manipur,843,0,1593,2020-07-12
21,Meghalaya,66,2,207,2020-07-12
22,Mizoram,150,0,227,2020-07-12
23,Nagaland,313,0,748,2020-07-12
24,Odisha,8360,61,12526,2020-07-12
25,Puducherry,690,18,1337,2020-07-12
26,Punjab,5040,195,7587,2020-07-12
27,Rajasthan,17869,503,23748,2020-07-12
28,Sikkim,80,0,151,2020-07-12
29,Tamil Nadu,85915,1898,134226,2020-07-12
30,Telangana,20919,348,33402,2020-07-12
31,Tripura,1375,2,1949,2020-07-12
32,Uttarakhand,2718,46,3417,2020-07-12
33,Uttar Pradesh,22689,913,35092,2020-07-12
34,West Bengal,17959,906,28453,2020-07-12

In [10]:
# latitude and longitude information

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(2)

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,93,0,163,2020-07-12,11.7401,92.6586
1,Andhra Pradesh,14393,309,27235,2020-07-12,15.9129,79.7400

In [11]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      3
Longitude                     3
dtype: int64

In [12]:
# number of unique values 
df_bs.nunique()

Name of State / UT            35
Cured/Discharged/Migrated*    35
Deaths**                      28
Total Confirmed cases*        35
Date                           1
Latitude                      32
Longitude                     29
dtype: int64

# Saving data

In [13]:
# saving data

file_name = now.strftime("%Y-%m-%d")+'.csv'
df_bs.to_csv('C:\\Users\\007\\Documents\\ml\\mp\\perdaydata\\' + file_name, index=False)

df_bs

,Name of State / UT,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,93,0,163,2020-07-12,11.7401,92.6586
1,Andhra Pradesh,14393,309,27235,2020-07-12,15.9129,79.7400
2,Arunachal Pradesh,125,2,341,2020-07-12,28.2180,94.7278
3,Assam,9150,35,15536,2020-07-12,26.2006,92.9376
4,Bihar,10685,131,15373,2020-07-12,25.0961,85.3131
5,Chandigarh,413,7,555,2020-07-12,30.7333,76.7794
6,Chhattisgarh,3070,17,3897,2020-07-12,21.2787,81.8661
7,Dadra and Nagar Haveli and Daman and Diu,226,0,471,2020-07-12,NaN,NaN
8,Delhi,87692,3334,110921,2020-07-12,28.7041,77.1025
9,Goa,1428,12,2368,2020-07-12,15.2993,74.1240
10,Gujarat,28649,2032,40941,2020-07-12,22.2587,71.1924
11,Haryana,15394,297,20582,2020-07-12,29.0588,76.0856
12,Himachal Pradesh,908,11,1182,2020-07-12,31.1048,77.1734
13,Jammu and Kashmir,5895,169,10156,2020-07-12,33.7782,76.5762
14,Jharkhand,2243,23,3613,2020-07-12,23.6102,85.2799
15,Karnataka,14716,613,36216,2020-07-12,15.3173,75.7139
16,Kerala,3963,29,7438,2020-07-12,10.8505,76.2711
17,Ladakh,928,1,1077,2020-07-12,34.2996,78.2932
18,Madhya Pradesh,12679,644,17201,2020-07-12,22.9734,78.6569
19,Maharashtra,136985,10116,246600,2020-07-12,19.7515,75.7139
20,Manipur,843,0,1593,2020-07-12,24.6637,93.9063
21,Meghalaya,66,2,207,2020-07-12,25.4670,91.3662
22,Mizoram,150,0,227,2020-07-12,23.1645,92.9376
23,Nagaland,313,0,748,2020-07-12,26.1584,94.5624
24,Odisha,8360,61,12526,2020-07-12,20.9517,85.0985
25,Puducherry,690,18,1337,2020-07-12,11.9416,79.8083
26,Punjab,5040,195,7587,2020-07-12,31.1471,75.3412
27,Rajasthan,17869,503,23748,2020-07-12,27.0238,74.2179
28,Sikkim,80,0,151,2020-07-12,NaN,NaN
29,Tamil Nadu,85915,1898,134226,2020-07-12,11.1271,78.6569
30,Telangana,20919,348,33402,2020-07-12,NaN,NaN
31,Tripura,1375,2,1949,2020-07-12,23.9408,91.9882
32,Uttarakhand,2718,46,3417,2020-07-12,30.0668,79.0193
33,Uttar Pradesh,22689,913,35092,2020-07-12,26.8467,80.9462
34,West Bengal,17959,906,28453,2020-07-12,22.9868,87.8550

# Combining data

In [14]:
# list of all files available
! dir

 Volume in drive C is SSD
 Volume Serial Number is AECD-2471

 Directory of C:\Users\007\Documents\ml\mp

12-07-2020  22:15    <DIR>          .
12-07-2020  22:15    <DIR>          ..
01-06-2020  09:34    <DIR>          .ipynb_checkpoints
28-05-2020  12:21           102,496 chatbot.ipynb
27-05-2020  23:01           418,297 chatbotThroughRasa (1).docx
28-05-2020  10:17            15,767 Chatbot_dataset.csv
01-06-2020  11:21           136,900 complete.csv
17-05-2020  21:36             3,366 complete1.csv
26-05-2020  11:56           526,346 COVID-Dialogue-Dataset-English.txt
27-05-2020  20:58            38,439 dialog_talk_agent.xlsx
29-05-2020  17:16         2,329,454 help.gif
27-05-2020  13:50            49,804 help.png
07-02-2020  14:23               966 Indian_States.dbf
07-02-2020  14:23               143 Indian_States.prj
07-02-2020  14:23         5,759,420 Indian_States.shp
07-02-2020  14:23               388 Indian_States.shx
01-06-2020  11:26         3,460,759 main.ipynb
15-06-2020  13:44         1,143,296 Major Project Report.doc
31-05-2020  20:01         1,113,096 Major project.pptx
15-06-2020  13:26         1,674,465 Major project1.pptx
29-05-2020  15:40           106,698 nlp_chatbot.ipynb
01-06-2020  00:27           103,697 nlp_chatbotcopy.ipynb
12-07-2020  22:17    <DIR>          perdaydata
01-06-2020  10:36           334,531 vizualization.ipynb
01-06-2020  10:36           276,300 vizualizationcopy.ipynb
31-05-2020  23:56            95,603 web_scraping.ipynb
12-07-2020  22:15            87,941 web_scraping2.ipynb
01-06-2020  09:36            57,928 web_scrapingcopy.ipynb
01-04-2020  14:54            18,086 WHO_FAQ.xlsx
              25 File(s)     17,854,186 bytes
               4 Dir(s)  11,424,145,408 bytes free

In [15]:
# location of the file
loc = "C:\\Users\\007\\Documents\\ml\\mp\\perdaydata\\"

# list of all files
files = glob.glob(loc+'*.csv')
   
# all day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged/Migrated',
                                      'Cured/Discharged/Migrated*':'Cured/Discharged/Migrated',
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases',
                                      'Total Confirmed cases*':'Total Confirmed cases',
                                      'Total Confirmed cases* ': 'Total Confirmed cases'})
    
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    df_temp = df_temp.rename(columns={'Deaths ( more than 70% cases due to comorbidities )':'Death', 
                                      'Deaths**':'Death'})
    # append to the df_s
    dfs.append(df_temp)
    
# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
dfs[1:4]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

[   Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           1  2020-01-31             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      1  ,
    Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           2  2020-02-01             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      2  ,
    Unnamed: 0        Date Name of State / UT  Cured/Discharged/Migrated  \
 0           3  2020-02-02             Kerala                          0

    Latitude  Longitude  Death  Total Confirmed cases
 0   10.8505    76.2711      0                      3  ]

In [16]:
# columns
complete_data.columns

Index(['Cured/Discharged/Migrated', 'Date', 'Death', 'Latitude', 'Longitude',
       'Name of State / UT', 'Total Confirmed cases', 'Unnamed: 0'],
      dtype='object')

## Preprocessing

In [17]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2397 entries, 0 to 2396
Data columns (total 8 columns):
Cured/Discharged/Migrated    2397 non-null int64
Date                         2397 non-null object
Death                        2397 non-null int64
Latitude                     2387 non-null float64
Longitude                    2387 non-null float64
Name of State / UT           2397 non-null object
Total Confirmed cases        2397 non-null int64
Unnamed: 0                   2019 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 149.9+ KB

In [18]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Total Confirmed cases','Cured/Discharged/Migrated', 'Death']
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [19]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [20]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

## Final dataframe

In [21]:
# random rows
complete_data.head(3)

,Cured/Discharged/Migrated,Date,Death,Latitude,Longitude,Name of State / UT,Total Confirmed cases,Unnamed: 0
0,0,2020-01-30,0,10.8505,76.2711,Kerala,1,0.0
1,0,2020-01-31,0,10.8505,76.2711,Kerala,1,1.0
2,0,2020-02-01,0,10.8505,76.2711,Kerala,2,2.0

In [22]:
# complete data info
from datetime import date
complete_data['Date']=pd.to_datetime(complete_data['Date']).apply(lambda x:x.date())
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2397 entries, 0 to 2396
Data columns (total 8 columns):
Cured/Discharged/Migrated    2397 non-null int32
Date                         2397 non-null object
Death                        2397 non-null int32
Latitude                     2387 non-null float64
Longitude                    2387 non-null float64
Name of State / UT           2397 non-null object
Total Confirmed cases        2397 non-null int32
Unnamed: 0                   2019 non-null float64
dtypes: float64(3), int32(3), object(2)
memory usage: 140.4+ KB

## Save as .csv file

In [23]:
#c=pd.read_csv('complete.csv').drop(['Unnamed: 0'],axis=1)
#c1=c.groupby('Date')
#for grp in c1:
#    c[c['Date']==grp[0]].to_csv(f'{grp[0]}.csv')

In [24]:
# save data in a csv file
complete_data.to_csv('complete.csv')